#time {
    width: 20vw;
    height: 16vh;
}

.timer {
    margin-top: 1vh;
    font-size: 160%;
    font-weight: bold;
}

#weather {
    width: 22vw;
    height: 16vh;
}

#weather .container {
    display: flex;
    flex-wrap: nowrap;
}

#weather-icon {
    position: relative;
    display: flexbox;
    margin-right: 1vw;
    margin-left: 2vw;
    font-size: 300%;
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
}

#weatherInfoContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-items: left;
}

.weatherMainInfo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.weatherer {
    font-size: 170%;
    font-weight: bold;
}

#calendar {
    width: 54vw;
    height: 18vh;
    text-align: center;
}

#changewallpaper {
    display: flex;
    width: 10vw;
    height: 5.5vh;
}

#save {
    width: 10vw;
    height: 5.5vh;
}

#gu {
    display: flex;
    width: 10vw;
    height: 5.5vh;
}


.content_top {
    position: absolute;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    top: 3vh;
    /* height: 25%; */
    width: 100%;
}

.content_bottom {
    position: absolute;
    bottom: 8vh;
}

#btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}